<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">
        <%- include('header'); %>
        <h2>Name is <%= user.name %> and password is <%= user.id %> </h2> 

        <%- include('footer'); %>
    </div>
</body>
</html>